.bgHeader{background-color: #0078d4; color:#fff;display: flex;padding: 10px;}
.burgerMenu{width:20px;}
.burgerMenu span{width:20px;height:3px;background-color: #fff;margin-bottom: 4px;display:block;}

.bgHeader .logo{
    font-weight: bold;text-transform: uppercase; margin-left: 10px;line-height: 1;
}