.flexBox {
    display: flex;
    justify-content: center;
}

.buttonFlex {
    display: flex;
    margin: 10px;
    border-style: none;
    background-color: transparent;
    flex-direction: column;
    align-items: center;
}

.imgClass {
    margin-bottom: 10px;
}

.pageTitle {
    text-align: center;
}