.leftMenu{width:200px;margin-right: 20px;}
.leftMenu li{font-size: 14px ;color:#131212;}
.leftMenu li.active {
    font-size: 14px;
    color: #131212;
    background-color: rgb(201, 204, 206);
}
.leftMenu li.title {
    font-size: 20px;
    font-weight: bold;
    color: #131212;
}